VITE_SUPABASE_URL=https://yeelobjfyzkdpjwmpwjj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllZWxvYmpmeXprZHBqd21wd2pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5NzI5NzAsImV4cCI6MjA3NjU0ODk3MH0.Y_9nH-h6hrq5SrUDcm8h8L7Wc6Hc1u0VZ-2I-0sFpjQ